# =====================
# Generated model data
# =====================
data/
groups_csv/
J2IFAM/

# RANSAC outputs


# Binary / data files
*.dat
*.npy
*.npz
*.h5
*.csv
*.pptx
*.png

# Logs and temp files
*.log
*.tmp

# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# =====================
# OS-specific
# =====================
.DS_Store
Thumbs.db